<h3> name: <%= contact.name %></h3>
<h3> email: <%= contact.email %></h3>
<h3> contact: <%= contact.phone %></h3>
<article class="article">
  <h3>  subject: <%= contact.subject %> </h3>
</article>
<h3>Date: <%= contact.createdAt.toDateString() %></h3>